<header class="toolbar toolbar-header">

  <div class="toolbar-actions">

    <input class="btn btn-default" (change)='openFile($event)' type='file' accept="text/twb" />

    <button class="btn btn-default" (click)="exportDataToCsv()">
      <span class="icon icon-level-down"></span>
      Download CSV
    </button>
  </div>
</header>

<div class="window-content">
  <div class="result-table table-striped">
    <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
  </div>

</div>
