<header class="toolbar toolbar-header">
  <h1 class="title">Tableau Analyser</h1>
  <div class="toolbar-actions">

    <input class="btn btn-default" (change)='openFile($event)' type='file' accept="text/twb" />

    <button class="btn btn-default pull-right" (click)="exportDataToCsv()">
      <span class="icon icon-level-down"></span>
      Download CSV
    </button>
  </div>
</header>

<div class="window-content" style="min-width:800px; min-height:90vh;">

<div class="pane-group">
  <div class="pane-sm sidebar">
    <nav class="nav-group">
    <h5 class="nav-group-title">Views</h5>
    <span class="nav-group-item" (click)="showTree = false" [ngClass]="!showTree ? 'active' : ''">
      <span class="icon icon-doc-text"></span>
      Table view
    </span>
    <span class="nav-group-item" (click)="showTree = true" [ngClass]="showTree ? 'active' : ''">
      <span class="icon icon-flow-tree"></span>
      Analysis View
    </span>
    <h5 class="nav-group-title">Recipes for analysis</h5>
    <a class="nav-group-item typeform-share link" href="https://aveekmukherjee.typeform.com/to/BMmcLC" data-mode="popup" data-submit-close-delay="5" target="_blank">
      <span class="icon icon-plus-squared"></span>
      Request new Recipe
    </a>

    <span class="nav-group-item" *ngFor="let recipe of tableauService.recipes" (click)="handleRecipeClick(recipe.recipe)">
       {{recipe.name}}
    </span>
    <app-menu></app-menu>
    </nav>
  </div>

  <div class="pane">
    <div *ngIf="!showTree;" class="ngsmarttablediv table-striped">
      <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
    </div>

    <div *ngIf="showTree;"> <h3>Function Coming soon! Tree view </h3> </div>
  </div>

</div>
</div>


<footer class="toolbar toolbar-footer">
</footer>
